<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (let i = 0 ; i < usuarios.length ; i++) { %>
    <ul>
      <li>
        <h3>Usuario:</h3>
        <h3><%= usuarios[i].nombre %></h3>
      </li>
      <li>
        <h3>Correo:</h3>
        <h3><%= usuarios[i].correo %></h3>

        <form action="/user/<%=usuarios[i].correo%>?_method=DELETE" method="POST">
        
       <button type="submit">Borrar</button></a>
    </form>
      </li>
    </ul>
    <% } %>
  </body>
</html>
